footer {
    background-color: $black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p a {
    font-size: $font-size-footer;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: $yellow;
    }
}