<<<<<<< HEAD
footer {
    background-color: $black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p a {
    font-size: $font-size-footer;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: $yellow;
    }
=======
footer {
    background-color: $black;
    height: 80px;
    display: flex;
    flex-direction: column;
}

p a {
    font-size: $font-size-footer;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    &:hover {
        color: $yellow;
    }
>>>>>>> de99b3311a72b8ffd8907d8849e142a7887145c4
}