header {
    background: $black;
}

.nav-container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
   
    .logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

.nav a {
    text-decoration: none;
    color: $white;
    padding: 30px;
    font-size: $font-size-copy;

    &:hover {
        color: $yellow;
    }
}

.search {
    border: 2px solid $yellow;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    input {
        background-color: $black;
        color: $white;
        margin-left: 10px;
        border: none;
        outline-width: 0;
    }
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: $yellow;
    color: $white;
    cursor: pointer;
    
    i {
        font-size: 17px;
    }
}

.hero-container {
    height: 100%;
    background-color: $black;
}

.hero-img {
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:$white;
    font-size: $font-size-h1;
}

.hero-subtitle {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:$white;
    font-size: $font-size-subtitle;
}