//Colors

$black: #04020F;
$white: #FFFFFF;

$yellow: #FFA628;
$grey: rgb(179, 177, 177);

//Typography

$font-family: acumin-pro, sans-serif;

$font-size-h1: 50px;
$font-size-h3: 30px;
$font-size-subtitle: 25px;
$font-size-copy: 16px;
$font-size-p: 14px;
$font-size-footer: 12px;